<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">



<body>

<p>
   <h1> GarageKoi</h1>ensures finding the closest parking space and safe parking.Our
    vision is to decrease the traffic jam and helping to make a better city.
    <br>
    GarageKoi?  enables online appointment scheduling, optimizing garage workflow and reducing customer wait times and
    it has an intuitive design for easy navigation ensures a positive user experience.
   Also allows users to input and manage vehicle details, streamlining garage operations and enhancing service accuracy.
<br> <br>

    We're offering subscription based service. So that you can ensure your regular parking and safety.Our
    parking is safe,it is under 24/7 cctv coverage.Also long term plans will offer discounts.
    <br><br>



</p>

 <p align="center">   About the team </p>
<div class="fourth">

    <p align="center"> <br>
    Our team is consisted with four members.<br>
        Jannatul Ferdous,Mobashara,Nowshin Mehta Rose and Saif Uddin Ahmed Bhuiyan.<br>All of us
        are students of THE UNIVERSITY OF ASIA PACIFIC. <br>
    </p></b></b> </br>



</div>






</body>







<body>

</body>
</html>