<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Slot</title>
</head>
<body>
   <p> <h1 style="text-align:center;"> Update Your Slots </h1></p>
    <form style="text-align:center;" action="/action_page.php"  autocomplete="on" >
        <label for="number">Car Slot: </label>
        <input type="number" id="number" name="number" value="  "><br><br>

        <label for="number">Bike Slot: </label>
        <input type="number" id="number" name="number" value="  "><br><br>

        <input type="submit" value="Update">



</form>
</body>
</html>